@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__item {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #22d4fd;
  text-decoration: none;
}

.tituloDestaque {
  color: #22d4fd;
  padding: 10px;
}

.textoDestaque {
  color: #22d4fd;
}

img:hover {
  transform: scale(1.5);
}

.apresentacao {
  padding: 3% 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-family: "Krona One", sans-serif;
  font-size: 30px;
}

.apresentacao__conteudo__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links_link {
  color: #f6f6f6;
  border: 2px solid #22d4fd;
  width: 378px;
  text-align: center;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.apresentacao__links_link:hover {
  background-color: #272727;
}

.rodape {
  color: #000000;
  background-color: #22d4fd;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 24px;
  text-align: center;
  
  position: fixed;
  bottom: 0;
  width: 100%;
}
